* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}
.product-main h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.products {
  width: 100%;
  height: auto;
  padding: 25px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  text-align: center;
}
.products h1 {
  margin: 35px 0;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #c72092, #6c14d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.products .box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box .card {
  width: 98%;
  height: auto;
  box-shadow: 0 0 8px #6c14d0;
  border-radius: 5px;
  text-align: center;
  padding: 20px 2px;
}
.products .box .card .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: auto;
}
.products .box .card .image img {
  width: 70%;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}
.products .box .card .image img:hover {
  transform: scale(1.1);
}
.products .box .card .small_card i:hover {
  color: #c72092;
}

.products .box .card .products_text h2 {
  font-size: 25px;
  margin-top: 15px;
  font-weight: 400;
}

.products .box .card .products_text p {
  line-height: 21px;
  margin: 8px 0;
}
.products .box .card .products_text .products_star {
  color: orange;
  margin-bottom: 19px;
  cursor: pointer;
}
.products .box .card .products_text .btn {
  text-decoration: none;
  padding: 10px 100px;
  background-color: rgb(159,32,137);
  color: white;
  border-radius: 5px;
}


@media screen and (max-width: 1100px){
    .products .box .card .products_text .btn {
        padding: 10px 60px;
      }
}
@media screen and (max-width: 770px){
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: auto;
        padding: 10px 10px;
        grid-gap: 10px;
    }
    .products .box .card .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .products .box .card .image img {
        margin-top: -5px;
        width: 70%;
        height: auto;
    }
    .products .box .card .products_text .btn {
        padding: 10px 60px;
      }
}
@media screen and (max-width: 450px) {
    .product-main h1{
        text-align: center;
        font-size:25px;
        font-weight: 400;
    }
   .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: auto;
        padding: 10px 10px;
        grid-gap: 10px;
    }
    .products .box .card {
        border-radius: 5px;
        text-align: center;
        padding: 20px 2px;
    }
    .products .box .card .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .products .box .card .image img {
        margin-top: -11px;
        width: 70%;
        height: auto;
        object-fit: cover;
        transition: 0.3s;
    } 
    .products .box .card .products_text h2 {
        font-size: 14px;
        margin-top: 3px;
    }
    .products .box .card .products_text p {
        line-height: 14px;
        margin: 5px 0;
        font-size: 12px;
        padding: 0 5px;
      }
      .products .box .card .products_text h3{
        font-size: 13px;
        margin: 0;
      }
      .products .box .card .products_text .btn {
        padding: 5px 10px;
        font-size: 15px;
        margin-top: 1px;
      }
}

/* ************** Media Query for Tablet *************** */

