*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cart-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cart{
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cart img{
    height: 190px;

}

.cart h2{
    margin: 1.6rem;

}

.cart button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.cart button:hover{
    transform: scale(1.01);
}