.containers{
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
}
.containers .sub-container .sub-container-child{
    margin-top: 20px;
    width: 96%;
    height: 260px;
    background-color: #FFD0CE;
    border-radius: 10px;
    padding-top: 20px;
}
.containers .sub-container .sub-container-child h5{
    font-size: 30px;
    font-weight: 400;
}
.containers .sub-container .sub-container-child p{
    line-height: 130%;
    margin-top: 10px;
    text-align: center;
    width: 96%;
    height: 80px;
    padding-left: 5px;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.containers .sub-container .bottom-img{
    transform: translateY(-45%);
}
.containers .sub-container .bottom-img img{
    border-radius: 50%;
    width: 150px;
    height: auto;
}
@media screen and (max-width:450px) {
    .sub-container-child{
        width: 96%;
        height: 300px;
    }
    .containers .sub-container .bottom-img{
        transform: translateY(-37%);
    }
}