* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;

}

.slider-container {
    position: relative; 
}

.custom-btn {
    background-color: transparent;
    color: #000; 
    border: 2px solid #000; 
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    z-index: 1; 
}

.prev-btn {
    left: 10px; 
}

.next-btn {
    right: 10px; 
}

.custom-btn:hover {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

.ring {
    position: relative; 
    display: inline-block; 
    margin-right: 20px; 
    cursor: pointer;

}
.category{
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}

.ring img {
    width: 100%;
    height: auto; 
    transition: transform 0.3s ease-in-out; 
}

.ring:hover img {
    transform: scale(1.02); 
}



@media screen and (max-width: 768px) {
    .custom-btn {
        top: 45%;
    }
    .ring {
        margin-top: -3rem;
    }
    .category{
        margin-top: -1rem;
        font-size: 0.8rem;
    }
} 


@media screen and (max-width: 500px) {
    .custom-btn {
        top: 34%;
    }
    .ring {
        margin-top: -5rem;    
    }
} 