.slider-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;

}

.slick-dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.slick-dots li button {
    font-size:12px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.slider-container .slick-slider {
    width: 100%;
}

.slider-container .slick-slide img {
    width: 100%;
    height: auto;
    margin-bottom: 2.6rem;
}

@media screen and (max-width: 780px) {
    .slider-container .slick-slide img {
        height: auto;
        margin-top: 5rem;
    }
}