*{
    margin: 0;
    padding: 0;
}
/* footer section */
.footer_widgets{
    /* width: 100%; */
    background-color: #2d2d2d;
    margin-top: 8rem;
}
.footer_black {
    border-top: 1px solid #2d2d2d;
    padding-top: 67px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
}

.footer_top {
    padding-bottom: 61px;
  }
  .footer_black .widgets_container > h3 {
    color: #fff;
    font-family: serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }
  
  .footer_contact p {
    margin-bottom: 0;
    line-height: 30px;
    color: #a0a0a0;
  }
  
  .footer_contact p a:hover {
    color: #a8741a;
  }
  
  .footer_contact ul {
    margin-top: 50px;
    text-align: start;
}
.footer_contact ul li {
    display: inline-block;
    margin-right: 7px;
}

.footer_contact ul li:last-child {
    margin-right: 0;
}
.footer_contact ul li a {
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: #2f2f2f;
    text-align: center;
    border-radius: 50%;
    display: block;
}

.footer_contact ul li a:hover {
    background: #a8741a;
  }
.footer_menu ul li {
    list-style-type: none;
    text-align: start;
}
.footer_menu ul li a {
    display: block;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
    color: #a0a0a0;
    list-style-type: none;  
    text-decoration: none;
  }
  
  .footer_menu ul li a:hover {
    color: #a8741a;
  }
  



  .simple_product_items {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid 2d2d2d;
  }
  
  .simple_product_items:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
  }
  
  .simple_product_thumb {
    width: 22%;
  }
  
  .simple_product_content {
    width: 70%;
    margin-left: 17px;
  }
  
  .simple_product_content .tag_cate a{
    margin-bottom: 0;
    color: #a0a0a0;
    text-decoration: none;
  }
  .simple_product_content .tag_cate a:hover{
    margin-bottom: 0;
    color: #a8741a;
    text-decoration: underline;
  }
  .simple_product_content .product_name h3 {
    font-size: 10px;
    line-height: 21px;
    margin-bottom: 1px;
  }
  
  .simple_product_content .product_name h3 a {
    color: #fff;
    font-size: 17px;
  }
  
  .simple_product_content .product_name h3 a:hover {
    color: #a8741a;
  }
  
  .simple_product_content .product_price span {
    color: #5a5a5a;
    font-size: 14px;
    font-weight: 400;
  }
  
  .simple_product_content .product_price span.old_price {
    text-decoration: line-through;
    padding-right: 8px;
  }
  
  .simple_product_content .product_price span.current_price {
    color: #a8741a;
    font-weight: 500;
  }
  
  @media screen and (max-width:400px){
    .row{
        display: grid;
        text-align: center;
    }
    .row .widgets_container{
        text-align: center;
    }
  }
  /* *********footer bottom ******* */
.footer_bottom {
    padding: 38px 0 10px;
  }
  
  .copyright_area {
    text-align: center;
  }
  .copyright_area p {
    text-transform: capitalize;
    line-height: 26px;
    color: #a0a0a0;
  }
  
  .copyright_area p a {
    color: #a8741a;
  }
  .copyright_area p a:hover {
    text-decoration: underline;
  }
  
  /* ***********************over ************** */

  /* ********************** Footer payment option ********************/
  .payment_area a img{
    width: 60px;
    height: 40px;
    margin-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
  /* ************************** Footer payment option *********************/