*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 80px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    align-items: center;
}

.logo{
    width: 20%;  
}
.logo_img{
    height: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%; 
    margin: 0 auto;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left{
    width: 25%;
}
.nav-right{
    width: 85%;
    display: flex;
    justify-content: space-around;
}

.search-bar{
    width: 600px;
    line-height: 40px;
    border-radius: 4px;
    background: #f0eeee;
    text-align: center;
    position: relative;
}

.search-bar input{
    background: transparent;
    border: 0;
    outline: none;
    width: 85%;
}


.nav-right div{
    margin: 0 15px;
    text-align: center;
    cursor: pointer;
}

.nav-right div p{
    font-size: 12px;
    font-weight: 700;
    color: #535252;
    text-transform: uppercase;
}

.nav-right div i{
    font-size: 18px;
    color: #535252;
    cursor: pointer;
}

.nav-left i{
    font-size: 20px;
    cursor: pointer;
    margin: 25px 0 15px 15px;
    padding: 10px;
    display: none;
}

.nav-right .search-bar i{
    font-size: 20px;
    color: #727070;
    position: absolute;
    top: 3px;
}


/* below header */
.below-header-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
    padding: 5px;
}

@media screen and (max-width: 780px) {
    .below-header-options{
        display: none;
    }

    .nav-left i{
        display: block;
    }

    header{
        height: 75px;
        width: 100%;
    }
    img{
        height: 60px;
        margin-right: 10px;
    }

    .search-bar{
        position: absolute;
        top:90px;
        width: 90%;
        left: 20px;
        border-radius: 50px;
        background: #fff;
        border: 1px solid #eee;
    }

    .nav-right div{
        margin: 0 7px;

    }
    .nav-right div p{
        font-size: 10px;
    }
    
    .nav-left, .nav-right{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .nav-left{
        width: 20%
    }

    .nav-right{
        width: 40%;
    }

    .nav-left i{
        cursor: pointer;
        /* padding: 10px; */
        margin-left: -15px;
    }
}


@media screen and (max-width: 550px) {

    .nav-left, .nav-right{
        gap: 1px;
    }

    .nav-left{
        width: 30%
    }

    .nav-right{
        width: 25%;
    }
}


@media screen and (max-width: 420px) {

    img{
        height: 45px;
    }

    .nav-left{
        width: 32%
    }

    .nav-right{
        width: 10%;
    }

    nav{
        width: 63%; 
    }
}