*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.login-container{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-bottom: 2rem;
}

.loginForm{
    background-color: rgb(214, 225, 229);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #00000041;
}
.loginForm h2{
    color: orangered;
    margin-top: -10px;
}

.loginForm p{
    font-size: 0.8rem;
    text-align: center;
}
.loginForm input[type="email"], .loginForm input[type="password"],.loginForm input[type="text"]{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 6px;
    padding-left: 30px;
    margin-bottom: 0.7rem;
    outline-color: orangered;
}
.loginBtn{
    width: 100%;
    border-radius:5px;
    border: none;
    padding: 6px;
    background-color: orangered;
    color: white;
    margin: 1rem 0;
    transition: transform 0.3s ease-in-out; 

}

.loginBtn:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.inputWithIcon {
    position: relative;
}

.loginForm .icon {
    position: absolute;
    left:8px; /* Adjust the left position as needed */
    top: 35%;
    transform: translateY(-50%);
    color: #666; /* Adjust the color as needed */
}

.eyeIcon{
    position: absolute;
    right: 14px;
    top:0;
    bottom: 10px !important;
    margin: auto;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.title{
    max-width: 450px;
    text-align: center;
    margin: auto;
    position: relative;

}

.title::before{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    left: 0;
}
.title::after{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    right: 0;
}

a{
    color: orangered;
    text-decoration: none;
}

.social{
    display: flex;
    justify-content: center;
    font-size:  1.4rem;
    align-items: center;
    margin: 0.3rem 0;

}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1.1rem;
    border: none;
    height: 1.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}
.google a{
    margin-left: -0.8rem;
    font-size: 1.2rem;
}
.google span{
    margin-right: 0.8rem;
}

.google:hover{
    transform: scale(1.02);
}



@media screen and (max-width: 768px) {
    .loginForm {
        padding: 25px; 
        margin: 2.5rem;
    }
    .loginForm input[type="email"], .loginForm input[type="password"],.loginForm input[type="text"]{
        padding-left: 35px !important;
    }

    .loginBtn{
        margin: 1rem 0;
    }
    .loginForm p{
        font-size: 0.8rem ;
    }
}

@media screen and (max-width: 500px) {
    .loginForm {
        padding: 20px; 
        margin: 2.5rem 4.3rem;
    }

    .loginForm p{
        font-size: 0.6rem ;
    }

    .google a{
        margin-left: -1.1rem;
        font-size: 1.1rem;
    }
    .google span{
        font-size: 0.7rem;
        margin-right: 0.12rem;
    }
}