*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

.signup-container{
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-bottom: 2rem;
}

.signup-container .myForm{
    background-color: rgb(214, 225, 229);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #00000041;
}

.signup-container .myForm h2{
    color: orangered;
}

.signup-container .myForm p{
    font-size: 0.8rem;
    text-align: center;
}
.signup-container .myForm input[type="email"],.myForm input[type="password"],.myForm input[type="text"]{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 6px;
    padding-left: 17px;
    margin-bottom: 0.7rem;
    outline-color: orangered;
}

.signup-container .loginBtn{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 6px;
    background-color: orangered;
    color: white;
    margin: 1rem 0;
    transition: transform 0.3s ease-in-out; 

}

.signup-container .loginBtn:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.signup-container .inputWithIcon {
    position: relative;
}

.signup-container .myForm .icon {
    position: absolute;
    left:8px; 
    top: 35%;
    transform: translateY(-50%);
    color: #666;
}

.signup-container .eyeIcon{
    position: absolute;
    right: 14px;
    top:0;
    bottom: 10px !important;
    margin: auto;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.signup-container .title{
    max-width: 450px;
    text-align: center;
    margin: auto;
    position: relative;

}

.signup-container .title::before{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    left: 0;
}
.signup-container .title::after{
    content: "";
    width: 90px;
    height: 0.5px;
    display: block;
    background: rgb(129, 125, 125);
    position: absolute;
    top: 50%;
    right: 0;
}

.signup-container a{
    color: orangered;
    text-decoration: none;
}

.signup-container .social{
    display: flex;
    justify-content: center;
    font-size:  1.3rem;
    align-items: center;
    margin: 0.3rem 0;

}

.signup-container .google{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1.1rem;
    border: none;
    height: 1.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    /* width: 100%; */
}
.signup-container .google a{
    margin-left: -0.8rem;
    font-size: 1.2rem;
}
.signup-container .google span{
    margin-right: 0.8rem;
}

/* Responsiveness for Tablet */
@media screen and (max-width: 768px) {
    .signup-container .myForm {
        padding: 25px; 
        margin: 2.5rem;
    }

    .signup-container .loginBtn{
        margin: 1rem 0;
        margin-right: 7px;   
    }
    .signup-container .myForm p{
        font-size: 0.8rem ;
    }
}


/* Responsiveness for Mobile */
@media screen and (max-width: 500px) {
    .signup-container .myForm {
        padding: 25px; 
        margin: 2.5rem 4.3rem;
    }

    .signup-container .myForm p{
        font-size: 0.6rem ;
    }

    .signup-container .google a{
        margin-left: -1.1rem;
        font-size: 1.1rem;
    }
    .signup-container .google span{
        font-size: 0.7rem;
        margin-right: 0.12rem;
    }


    .signup-container .title::before{
        width: 70px;
    }
    .signup-container .title::after{
        width: 70px;
    }
}