.container-registration {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.event-and-form-container {
    display: flex;
    /* flex: 1; */
}

.registration-form {
    width: 25%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 300px;
}

.event-details {
    width: 25%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 318px;
}

.event-details img {
    max-width: 100%;
}

.event-details p {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration-form h2 {
    margin-bottom: 10px;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
}

.registration-form label {
    font-weight: bold;
    margin: 2px;
}

.registration-form input {
    padding: 8px;
    font-size: 14px;
    margin: 2px;
}

.registration-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
}

.back {
    margin: 15px;
    background-color: grey !important;
}